<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momoplan.pet.commons.domain.states.mapper.StatesUserStatesMapper" >
  <resultMap id="BaseResultMap" type="com.momoplan.pet.commons.domain.states.po.StatesUserStates" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="if_transmit_msg" property="ifTransmitMsg" jdbcType="BIT" />
    <result column="imgid" property="imgid" jdbcType="VARCHAR" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="ct" property="ct" jdbcType="TIMESTAMP" />
    <result column="transmit_url" property="transmitUrl" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="report_times" property="reportTimes" jdbcType="INTEGER" />
    <result column="transmit_msg" property="transmitMsg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, if_transmit_msg, imgid, msg, userid, ct, transmit_url, latitude, longitude, state, 
    report_times, transmit_msg
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.momoplan.pet.commons.domain.states.po.StatesUserStatesCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_states
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="mysqlOffset != null and mysqlLength != null" >
      <![CDATA[ limit #{mysqlOffset} , #{mysqlLength} ]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_states
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_states
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.momoplan.pet.commons.domain.states.po.StatesUserStatesCriteria" >
    delete from user_states
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.momoplan.pet.commons.domain.states.po.StatesUserStates" >
    insert into user_states (id, if_transmit_msg, imgid, msg, userid, ct, transmit_url, 
      latitude, longitude, state, report_times, transmit_msg)
    values (#{id}, #{ifTransmitMsg}, #{imgid}, #{msg}, #{userid}, #{ct}, #{transmitUrl}, 
      #{latitude}, #{longitude}, #{state}, #{reportTimes}, #{transmitMsg})
  </insert>
  <insert id="insertSelective" parameterType="com.momoplan.pet.commons.domain.states.po.StatesUserStates" >
    insert into user_states
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ifTransmitMsg != null" >
        if_transmit_msg,
      </if>
      <if test="imgid != null" >
        imgid,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="ct != null" >
        ct,
      </if>
      <if test="transmitUrl != null" >
        transmit_url,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="reportTimes != null" >
        report_times,
      </if>
      <if test="transmitMsg != null" >
        transmit_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="ifTransmitMsg != null" >
        #{ifTransmitMsg},
      </if>
      <if test="imgid != null" >
        #{imgid},
      </if>
      <if test="msg != null" >
        #{msg},
      </if>
      <if test="userid != null" >
        #{userid},
      </if>
      <if test="ct != null" >
        #{ct},
      </if>
      <if test="transmitUrl != null" >
        #{transmitUrl},
      </if>
      <if test="latitude != null" >
        #{latitude},
      </if>
      <if test="longitude != null" >
        #{longitude},
      </if>
      <if test="state != null" >
        #{state},
      </if>
      <if test="reportTimes != null" >
        #{reportTimes},
      </if>
      <if test="transmitMsg != null" >
        #{transmitMsg},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.momoplan.pet.commons.domain.states.po.StatesUserStatesCriteria" resultType="java.lang.Integer" >
    select count(*) from user_states
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_states
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.ifTransmitMsg != null" >
        if_transmit_msg = #{record.ifTransmitMsg},
      </if>
      <if test="record.imgid != null" >
        imgid = #{record.imgid},
      </if>
      <if test="record.msg != null" >
        msg = #{record.msg},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid},
      </if>
      <if test="record.ct != null" >
        ct = #{record.ct},
      </if>
      <if test="record.transmitUrl != null" >
        transmit_url = #{record.transmitUrl},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude},
      </if>
      <if test="record.state != null" >
        state = #{record.state},
      </if>
      <if test="record.reportTimes != null" >
        report_times = #{record.reportTimes},
      </if>
      <if test="record.transmitMsg != null" >
        transmit_msg = #{record.transmitMsg},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_states
    set id = #{record.id},
      if_transmit_msg = #{record.ifTransmitMsg},
      imgid = #{record.imgid},
      msg = #{record.msg},
      userid = #{record.userid},
      ct = #{record.ct},
      transmit_url = #{record.transmitUrl},
      latitude = #{record.latitude},
      longitude = #{record.longitude},
      state = #{record.state},
      report_times = #{record.reportTimes},
      transmit_msg = #{record.transmitMsg}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.momoplan.pet.commons.domain.states.po.StatesUserStates" >
    update user_states
    <set >
      <if test="ifTransmitMsg != null" >
        if_transmit_msg = #{ifTransmitMsg},
      </if>
      <if test="imgid != null" >
        imgid = #{imgid},
      </if>
      <if test="msg != null" >
        msg = #{msg},
      </if>
      <if test="userid != null" >
        userid = #{userid},
      </if>
      <if test="ct != null" >
        ct = #{ct},
      </if>
      <if test="transmitUrl != null" >
        transmit_url = #{transmitUrl},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude},
      </if>
      <if test="state != null" >
        state = #{state},
      </if>
      <if test="reportTimes != null" >
        report_times = #{reportTimes},
      </if>
      <if test="transmitMsg != null" >
        transmit_msg = #{transmitMsg},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.momoplan.pet.commons.domain.states.po.StatesUserStates" >
    update user_states
    set if_transmit_msg = #{ifTransmitMsg},
      imgid = #{imgid},
      msg = #{msg},
      userid = #{userid},
      ct = #{ct},
      transmit_url = #{transmitUrl},
      latitude = #{latitude},
      longitude = #{longitude},
      state = #{state},
      report_times = #{reportTimes},
      transmit_msg = #{transmitMsg}
    where id = #{id}
  </update>
</mapper>