<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-lazy-init="false" default-autowire="byName">
	<description>Spring</description>

	<bean id="locations" class="java.util.ArrayList" >
  		<constructor-arg>
		   	<list>
				<value>classpath:properties/application-db.properties</value>
				<value>classpath:properties/zoo.properties</value>
				<value>classpath:properties/cache.properties</value>
				<value>classpath:properties/jms.properties</value>
			</list>
	  	</constructor-arg>
  	</bean>
  	
  	<bean id="config" class="org.springframework.beans.factory.config.PropertiesFactoryBean" lazy-init="false">
  		<property name="locations" ref="locations" />
  	</bean>
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
  		<property name="locations" ref="locations" />
	</bean>
	
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<context:component-scan base-package="com.momoplan.pet" />
	
	<!-- 配置管理服务器地址 -->
    <bean id="zooServer" class="java.lang.String" >
    	<constructor-arg index="0" value="${zoo.server}" />
    </bean>
    <!-- 多节点集群缓存 -->
    <bean id="cacheServer" class="java.lang.String" >
    	<constructor-arg index="0" value="${cache.server}" />
    </bean>

    <!-- 单节点存储 -->
	<bean class="com.momoplan.pet.commons.cache.pool.StorePool">
		<property name="storeServer" value="${store.server}" />
	</bean>

	<import resource="classpath:spring/applicationContext-mybatis-transaction.xml"/>

	<import resource="applicationContext-jms.xml"/>

	<!-- 一个数据库一个配置文件~ -->
	<import resource="classpath:spring/applicationContext-mybatis-notice.xml"/>
</beans>