<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momoplan.pet.commons.domain.bbs.mapper.CommonAreaCodeMapper" >
  <resultMap id="BaseResultMap" type="com.momoplan.pet.commons.domain.bbs.po.CommonAreaCode" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PID" property="pid" jdbcType="VARCHAR" />
    <result column="PNAME" property="pname" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PID, PNAME, NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.momoplan.pet.commons.domain.bbs.po.CommonAreaCodeCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from COMMON_AREA_CODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="mysqlOffset != null and mysqlLength != null" >
      <![CDATA[ limit #{mysqlOffset} , #{mysqlLength} ]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from COMMON_AREA_CODE
    where ID = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from COMMON_AREA_CODE
    where ID = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.momoplan.pet.commons.domain.bbs.po.CommonAreaCodeCriteria" >
    delete from COMMON_AREA_CODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.momoplan.pet.commons.domain.bbs.po.CommonAreaCode" >
    insert into COMMON_AREA_CODE (ID, PID, PNAME, NAME)
    values (#{id}, #{pid}, #{pname}, #{name})
  </insert>
  <insert id="insertSelective" parameterType="com.momoplan.pet.commons.domain.bbs.po.CommonAreaCode" >
    insert into COMMON_AREA_CODE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="pid != null" >
        PID,
      </if>
      <if test="pname != null" >
        PNAME,
      </if>
      <if test="name != null" >
        NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="pid != null" >
        #{pid},
      </if>
      <if test="pname != null" >
        #{pname},
      </if>
      <if test="name != null" >
        #{name},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.momoplan.pet.commons.domain.bbs.po.CommonAreaCodeCriteria" resultType="java.lang.Integer" >
    select count(*) from COMMON_AREA_CODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update COMMON_AREA_CODE
    <set >
      <if test="record.id != null" >
        ID = #{record.id},
      </if>
      <if test="record.pid != null" >
        PID = #{record.pid},
      </if>
      <if test="record.pname != null" >
        PNAME = #{record.pname},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update COMMON_AREA_CODE
    set ID = #{record.id},
      PID = #{record.pid},
      PNAME = #{record.pname},
      NAME = #{record.name}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.momoplan.pet.commons.domain.bbs.po.CommonAreaCode" >
    update COMMON_AREA_CODE
    <set >
      <if test="pid != null" >
        PID = #{pid},
      </if>
      <if test="pname != null" >
        PNAME = #{pname},
      </if>
      <if test="name != null" >
        NAME = #{name},
      </if>
    </set>
    where ID = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.momoplan.pet.commons.domain.bbs.po.CommonAreaCode" >
    update COMMON_AREA_CODE
    set PID = #{pid},
      PNAME = #{pname},
      NAME = #{name}
    where ID = #{id}
  </update>
</mapper>