<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momoplan.pet.commons.domain.user.mapper.SsoUserMapper" >
  <resultMap id="BaseResultMap" type="com.momoplan.pet.commons.domain.user.po.SsoUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="hobby" property="hobby" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="birthdate" property="birthdate" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="if_fraudulent" property="ifFraudulent" jdbcType="VARCHAR" />
    <result column="device_token" property="deviceToken" jdbcType="VARCHAR" />
    <result column="background_img" property="backgroundImg" jdbcType="VARCHAR" />
    <result column="src" property="src" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, hobby, nickname, password, realname, signature, username, gender, img, email, 
    phone_number, birthdate, create_time, city, if_fraudulent, device_token, background_img, 
    src
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.momoplan.pet.commons.domain.user.po.SsoUserCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pet_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="mysqlOffset != null and mysqlLength != null" >
      <![CDATA[ limit #{mysqlOffset} , #{mysqlLength} ]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pet_user
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pet_user
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.momoplan.pet.commons.domain.user.po.SsoUserCriteria" >
    delete from pet_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.momoplan.pet.commons.domain.user.po.SsoUser" >
    insert into pet_user (id, hobby, nickname, password, realname, signature, username, 
      gender, img, email, phone_number, birthdate, create_time, city, 
      if_fraudulent, device_token, background_img, src)
    values (#{id}, #{hobby}, #{nickname}, #{password}, #{realname}, #{signature}, #{username}, 
      #{gender}, #{img}, #{email}, #{phoneNumber}, #{birthdate}, #{createTime}, #{city}, 
      #{ifFraudulent}, #{deviceToken}, #{backgroundImg}, #{src})
  </insert>
  <insert id="insertSelective" parameterType="com.momoplan.pet.commons.domain.user.po.SsoUser" >
    insert into pet_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hobby != null" >
        hobby,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="signature != null" >
        signature,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="birthdate != null" >
        birthdate,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="ifFraudulent != null" >
        if_fraudulent,
      </if>
      <if test="deviceToken != null" >
        device_token,
      </if>
      <if test="backgroundImg != null" >
        background_img,
      </if>
      <if test="src != null" >
        src,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="hobby != null" >
        #{hobby},
      </if>
      <if test="nickname != null" >
        #{nickname},
      </if>
      <if test="password != null" >
        #{password},
      </if>
      <if test="realname != null" >
        #{realname},
      </if>
      <if test="signature != null" >
        #{signature},
      </if>
      <if test="username != null" >
        #{username},
      </if>
      <if test="gender != null" >
        #{gender},
      </if>
      <if test="img != null" >
        #{img},
      </if>
      <if test="email != null" >
        #{email},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber},
      </if>
      <if test="birthdate != null" >
        #{birthdate},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="city != null" >
        #{city},
      </if>
      <if test="ifFraudulent != null" >
        #{ifFraudulent},
      </if>
      <if test="deviceToken != null" >
        #{deviceToken},
      </if>
      <if test="backgroundImg != null" >
        #{backgroundImg},
      </if>
      <if test="src != null" >
        #{src},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.momoplan.pet.commons.domain.user.po.SsoUserCriteria" resultType="java.lang.Integer" >
    select count(*) from pet_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pet_user
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.hobby != null" >
        hobby = #{record.hobby},
      </if>
      <if test="record.nickname != null" >
        nickname = #{record.nickname},
      </if>
      <if test="record.password != null" >
        password = #{record.password},
      </if>
      <if test="record.realname != null" >
        realname = #{record.realname},
      </if>
      <if test="record.signature != null" >
        signature = #{record.signature},
      </if>
      <if test="record.username != null" >
        username = #{record.username},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender},
      </if>
      <if test="record.img != null" >
        img = #{record.img},
      </if>
      <if test="record.email != null" >
        email = #{record.email},
      </if>
      <if test="record.phoneNumber != null" >
        phone_number = #{record.phoneNumber},
      </if>
      <if test="record.birthdate != null" >
        birthdate = #{record.birthdate},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime},
      </if>
      <if test="record.city != null" >
        city = #{record.city},
      </if>
      <if test="record.ifFraudulent != null" >
        if_fraudulent = #{record.ifFraudulent},
      </if>
      <if test="record.deviceToken != null" >
        device_token = #{record.deviceToken},
      </if>
      <if test="record.backgroundImg != null" >
        background_img = #{record.backgroundImg},
      </if>
      <if test="record.src != null" >
        src = #{record.src},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pet_user
    set id = #{record.id},
      hobby = #{record.hobby},
      nickname = #{record.nickname},
      password = #{record.password},
      realname = #{record.realname},
      signature = #{record.signature},
      username = #{record.username},
      gender = #{record.gender},
      img = #{record.img},
      email = #{record.email},
      phone_number = #{record.phoneNumber},
      birthdate = #{record.birthdate},
      create_time = #{record.createTime},
      city = #{record.city},
      if_fraudulent = #{record.ifFraudulent},
      device_token = #{record.deviceToken},
      background_img = #{record.backgroundImg},
      src = #{record.src}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.momoplan.pet.commons.domain.user.po.SsoUser" >
    update pet_user
    <set >
      <if test="hobby != null" >
        hobby = #{hobby},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname},
      </if>
      <if test="password != null" >
        password = #{password},
      </if>
      <if test="realname != null" >
        realname = #{realname},
      </if>
      <if test="signature != null" >
        signature = #{signature},
      </if>
      <if test="username != null" >
        username = #{username},
      </if>
      <if test="gender != null" >
        gender = #{gender},
      </if>
      <if test="img != null" >
        img = #{img},
      </if>
      <if test="email != null" >
        email = #{email},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber},
      </if>
      <if test="birthdate != null" >
        birthdate = #{birthdate},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="city != null" >
        city = #{city},
      </if>
      <if test="ifFraudulent != null" >
        if_fraudulent = #{ifFraudulent},
      </if>
      <if test="deviceToken != null" >
        device_token = #{deviceToken},
      </if>
      <if test="backgroundImg != null" >
        background_img = #{backgroundImg},
      </if>
      <if test="src != null" >
        src = #{src},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.momoplan.pet.commons.domain.user.po.SsoUser" >
    update pet_user
    set hobby = #{hobby},
      nickname = #{nickname},
      password = #{password},
      realname = #{realname},
      signature = #{signature},
      username = #{username},
      gender = #{gender},
      img = #{img},
      email = #{email},
      phone_number = #{phoneNumber},
      birthdate = #{birthdate},
      create_time = #{createTime},
      city = #{city},
      if_fraudulent = #{ifFraudulent},
      device_token = #{deviceToken},
      background_img = #{backgroundImg},
      src = #{src}
    where id = #{id}
  </update>
</mapper>