<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momoplan.pet.commons.domain.user.mapper.SsoVersionMapper" >
  <resultMap id="BaseResultMap" type="com.momoplan.pet.commons.domain.user.po.SsoVersion" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="pet_version" property="petVersion" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="phone_type" property="phoneType" jdbcType="VARCHAR" />
    <result column="iosurl" property="iosurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, version, pet_version, create_date, phone_type, iosurl
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.momoplan.pet.commons.domain.user.po.SsoVersionCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pet_version
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="mysqlOffset != null and mysqlLength != null" >
      <![CDATA[ limit #{mysqlOffset} , #{mysqlLength} ]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pet_version
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pet_version
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.momoplan.pet.commons.domain.user.po.SsoVersionCriteria" >
    delete from pet_version
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.momoplan.pet.commons.domain.user.po.SsoVersion" >
    insert into pet_version (id, version, pet_version, create_date, phone_type, iosurl)
    values (#{id}, #{version}, #{petVersion}, #{createDate}, #{phoneType}, #{iosurl})
  </insert>
  <insert id="insertSelective" parameterType="com.momoplan.pet.commons.domain.user.po.SsoVersion" >
    insert into pet_version
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="petVersion != null" >
        pet_version,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="phoneType != null" >
        phone_type,
      </if>
      <if test="iosurl != null" >
        iosurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="version != null" >
        #{version},
      </if>
      <if test="petVersion != null" >
        #{petVersion},
      </if>
      <if test="createDate != null" >
        #{createDate},
      </if>
      <if test="phoneType != null" >
        #{phoneType},
      </if>
      <if test="iosurl != null" >
        #{iosurl},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.momoplan.pet.commons.domain.user.po.SsoVersionCriteria" resultType="java.lang.Integer" >
    select count(*) from pet_version
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pet_version
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.version != null" >
        version = #{record.version},
      </if>
      <if test="record.petVersion != null" >
        pet_version = #{record.petVersion},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate},
      </if>
      <if test="record.phoneType != null" >
        phone_type = #{record.phoneType},
      </if>
      <if test="record.iosurl != null" >
        iosurl = #{record.iosurl},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pet_version
    set id = #{record.id},
      version = #{record.version},
      pet_version = #{record.petVersion},
      create_date = #{record.createDate},
      phone_type = #{record.phoneType},
      iosurl = #{record.iosurl}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.momoplan.pet.commons.domain.user.po.SsoVersion" >
    update pet_version
    <set >
      <if test="version != null" >
        version = #{version},
      </if>
      <if test="petVersion != null" >
        pet_version = #{petVersion},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate},
      </if>
      <if test="phoneType != null" >
        phone_type = #{phoneType},
      </if>
      <if test="iosurl != null" >
        iosurl = #{iosurl},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.momoplan.pet.commons.domain.user.po.SsoVersion" >
    update pet_version
    set version = #{version},
      pet_version = #{petVersion},
      create_date = #{createDate},
      phone_type = #{phoneType},
      iosurl = #{iosurl}
    where id = #{id}
  </update>
</mapper>