<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-lazy-init="false" default-autowire="byName">
	<description>Spring</description>
	
	<bean id="timerScheduler" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask" ref="petTimerTask" />
		<!-- 2 分钟 -->
		<property name="period" value="120000" />
	</bean>
	<bean class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="timerScheduler"/>
			</list>
		</property>
	</bean>
	
</beans>