<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momoplan.pet.commons.domain.statistic.mapper.BizYijifenMapper" >
  <resultMap id="BaseResultMap" type="com.momoplan.pet.commons.domain.statistic.po.BizYijifen" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="cd" property="cd" jdbcType="VARCHAR" />
    <result column="ct" property="ct" jdbcType="VARCHAR" />
    <result column="callback" property="callback" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cd, ct, callback
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.momoplan.pet.commons.domain.statistic.po.BizYijifenCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from biz_yijifen
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="mysqlOffset != null and mysqlLength != null" >
      <![CDATA[ limit #{mysqlOffset} , #{mysqlLength} ]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from biz_yijifen
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from biz_yijifen
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.momoplan.pet.commons.domain.statistic.po.BizYijifenCriteria" >
    delete from biz_yijifen
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.momoplan.pet.commons.domain.statistic.po.BizYijifen" >
    insert into biz_yijifen (id, cd, ct, callback)
    values (#{id}, #{cd}, #{ct}, #{callback})
  </insert>
  <insert id="insertSelective" parameterType="com.momoplan.pet.commons.domain.statistic.po.BizYijifen" >
    insert into biz_yijifen
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cd != null" >
        cd,
      </if>
      <if test="ct != null" >
        ct,
      </if>
      <if test="callback != null" >
        callback,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="cd != null" >
        #{cd},
      </if>
      <if test="ct != null" >
        #{ct},
      </if>
      <if test="callback != null" >
        #{callback},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.momoplan.pet.commons.domain.statistic.po.BizYijifenCriteria" resultType="java.lang.Integer" >
    select count(*) from biz_yijifen
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update biz_yijifen
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.cd != null" >
        cd = #{record.cd},
      </if>
      <if test="record.ct != null" >
        ct = #{record.ct},
      </if>
      <if test="record.callback != null" >
        callback = #{record.callback},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update biz_yijifen
    set id = #{record.id},
      cd = #{record.cd},
      ct = #{record.ct},
      callback = #{record.callback}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.momoplan.pet.commons.domain.statistic.po.BizYijifen" >
    update biz_yijifen
    <set >
      <if test="cd != null" >
        cd = #{cd},
      </if>
      <if test="ct != null" >
        ct = #{ct},
      </if>
      <if test="callback != null" >
        callback = #{callback},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.momoplan.pet.commons.domain.statistic.po.BizYijifen" >
    update biz_yijifen
    set cd = #{cd},
      ct = #{ct},
      callback = #{callback}
    where id = #{id}
  </update>
</mapper>