<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momoplan.pet.commons.domain.notice.mapper.NoticeMapper" >
  <resultMap id="BaseResultMap" type="com.momoplan.pet.commons.domain.notice.po.Notice" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="ct" property="ct" jdbcType="TIMESTAMP" />
    <result column="cb" property="cb" jdbcType="VARCHAR" />
    <result column="et" property="et" jdbcType="TIMESTAMP" />
    <result column="eb" property="eb" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.momoplan.pet.commons.domain.notice.po.Notice" extends="BaseResultMap" >
    <result column="info" property="info" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, pid, pname, seq, ct, cb, et, eb
  </sql>
  <sql id="Blob_Column_List" >
    info
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.momoplan.pet.commons.domain.notice.po.NoticeCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.momoplan.pet.commons.domain.notice.po.NoticeCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="mysqlOffset != null and mysqlLength != null" >
      <![CDATA[ limit #{mysqlOffset} , #{mysqlLength} ]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from notice
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from notice
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.momoplan.pet.commons.domain.notice.po.NoticeCriteria" >
    delete from notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.momoplan.pet.commons.domain.notice.po.Notice" >
    insert into notice (id, name, pid, pname, seq, ct, cb, et, eb, info
      )
    values (#{id}, #{name}, #{pid}, #{pname}, #{seq}, #{ct}, #{cb}, #{et}, #{eb}, #{info}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.momoplan.pet.commons.domain.notice.po.Notice" >
    insert into notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="seq != null" >
        seq,
      </if>
      <if test="ct != null" >
        ct,
      </if>
      <if test="cb != null" >
        cb,
      </if>
      <if test="et != null" >
        et,
      </if>
      <if test="eb != null" >
        eb,
      </if>
      <if test="info != null" >
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="pid != null" >
        #{pid},
      </if>
      <if test="pname != null" >
        #{pname},
      </if>
      <if test="seq != null" >
        #{seq},
      </if>
      <if test="ct != null" >
        #{ct},
      </if>
      <if test="cb != null" >
        #{cb},
      </if>
      <if test="et != null" >
        #{et},
      </if>
      <if test="eb != null" >
        #{eb},
      </if>
      <if test="info != null" >
        #{info},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.momoplan.pet.commons.domain.notice.po.NoticeCriteria" resultType="java.lang.Integer" >
    select count(*) from notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update notice
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.name != null" >
        name = #{record.name},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid},
      </if>
      <if test="record.pname != null" >
        pname = #{record.pname},
      </if>
      <if test="record.seq != null" >
        seq = #{record.seq},
      </if>
      <if test="record.ct != null" >
        ct = #{record.ct},
      </if>
      <if test="record.cb != null" >
        cb = #{record.cb},
      </if>
      <if test="record.et != null" >
        et = #{record.et},
      </if>
      <if test="record.eb != null" >
        eb = #{record.eb},
      </if>
      <if test="record.info != null" >
        info = #{record.info},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update notice
    set id = #{record.id},
      name = #{record.name},
      pid = #{record.pid},
      pname = #{record.pname},
      seq = #{record.seq},
      ct = #{record.ct},
      cb = #{record.cb},
      et = #{record.et},
      eb = #{record.eb},
      info = #{record.info}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update notice
    set id = #{record.id},
      name = #{record.name},
      pid = #{record.pid},
      pname = #{record.pname},
      seq = #{record.seq},
      ct = #{record.ct},
      cb = #{record.cb},
      et = #{record.et},
      eb = #{record.eb}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.momoplan.pet.commons.domain.notice.po.Notice" >
    update notice
    <set >
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="pid != null" >
        pid = #{pid},
      </if>
      <if test="pname != null" >
        pname = #{pname},
      </if>
      <if test="seq != null" >
        seq = #{seq},
      </if>
      <if test="ct != null" >
        ct = #{ct},
      </if>
      <if test="cb != null" >
        cb = #{cb},
      </if>
      <if test="et != null" >
        et = #{et},
      </if>
      <if test="eb != null" >
        eb = #{eb},
      </if>
      <if test="info != null" >
        info = #{info},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.momoplan.pet.commons.domain.notice.po.Notice" >
    update notice
    set name = #{name},
      pid = #{pid},
      pname = #{pname},
      seq = #{seq},
      ct = #{ct},
      cb = #{cb},
      et = #{et},
      eb = #{eb},
      info = #{info}
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.momoplan.pet.commons.domain.notice.po.Notice" >
    update notice
    set name = #{name},
      pid = #{pid},
      pname = #{pname},
      seq = #{seq},
      ct = #{ct},
      cb = #{cb},
      et = #{et},
      eb = #{eb}
    where id = #{id}
  </update>
</mapper>