<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.momoplan.pet.commons.domain.ssoserver.mapper.UserLocationMapper" >
  <resultMap id="BaseResultMap" type="com.momoplan.pet.commons.domain.ssoserver.po.UserLocation" >
    <id column="userid" property="userid" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    userid, create_date, latitude, longitude, version
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.momoplan.pet.commons.domain.ssoserver.po.UserLocationCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_location
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="mysqlOffset != null and mysqlLength != null" >
      <![CDATA[ limit #{mysqlOffset} , #{mysqlLength} ]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_location
    where userid = #{userid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_location
    where userid = #{userid}
  </delete>
  <delete id="deleteByExample" parameterType="com.momoplan.pet.commons.domain.ssoserver.po.UserLocationCriteria" >
    delete from user_location
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.momoplan.pet.commons.domain.ssoserver.po.UserLocation" >
    insert into user_location (userid, create_date, latitude, longitude, version)
    values (#{userid}, #{createDate}, #{latitude}, #{longitude}, #{version})
  </insert>
  <insert id="insertSelective" parameterType="com.momoplan.pet.commons.domain.ssoserver.po.UserLocation" >
    insert into user_location
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid},
      </if>
      <if test="createDate != null" >
        #{createDate},
      </if>
      <if test="latitude != null" >
        #{latitude},
      </if>
      <if test="longitude != null" >
        #{longitude},
      </if>
      <if test="version != null" >
        #{version},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.momoplan.pet.commons.domain.ssoserver.po.UserLocationCriteria" resultType="java.lang.Integer" >
    select count(*) from user_location
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_location
    <set >
      <if test="record.userid != null" >
        userid = #{record.userid},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude},
      </if>
      <if test="record.version != null" >
        version = #{record.version},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_location
    set userid = #{record.userid},
      create_date = #{record.createDate},
      latitude = #{record.latitude},
      longitude = #{record.longitude},
      version = #{record.version}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.momoplan.pet.commons.domain.ssoserver.po.UserLocation" >
    update user_location
    <set >
      <if test="createDate != null" >
        create_date = #{createDate},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude},
      </if>
      <if test="version != null" >
        version = #{version},
      </if>
    </set>
    where userid = #{userid}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.momoplan.pet.commons.domain.ssoserver.po.UserLocation" >
    update user_location
    set create_date = #{createDate},
      latitude = #{latitude},
      longitude = #{longitude},
      version = #{version}
    where userid = #{userid}
  </update>
</mapper>